.navbar_container {
  display: flex;
  justify-content: space-evenly;
}

.title image {
  cursor: pointer;
}

.navbar_container-links {
  display: flex;
  justify-content: space-evenly;
}

.navbar_container-links p {
  margin-right: 25px;
  cursor: pointer;
}
